<!DOCTYPE html>

<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>VoteMe - The site that tells nothing but the truth</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			

	</head>


	<body id="body-page">
	    
		<div id="poll-container" class="container">
		    <h1 class="orange-effect polls-title">Polls:</h1>
		</div>
		
		<script type="text/javascript" src="/common/ajax-functions.js"></script>
		<script type="text/javascript" src="/controllers/client/navigationController.client.js"></script>
		<script type="text/javascript" src="/controllers/client/pollsController.client.js"></script>
		
	</body>

</html>