<!DOCTYPE html>

<html>

	<head>
		<title>VoteMe - The site that tells nothing but the truth</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			
	</head>


	<body>
		
		<div class="container">
			<img src="/public/img/Vote_Me.png" />
			<br />
			<h2 class="clementine-text">Vote ME</h2>
	
			<p>Want to find out the truth? Log in below to create your own polls and find out what people really think!</p>
			
			<% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
			<br>
			<form method="POST" action="/login">
			    <div class="form-group">
			       <input type="email" class="form-control" name="email" placeholder="email"/> 
			    </div>
			    <div class="form-group">
			        <input type="text" class="form-control" name="password" placeholder="password"/>
			    </div>
			    <div class="form-group btn-container">
				    <button type="submit" class="btn btn-add">LOGIN</button>
			    </div>
			</form>
		</div>
		
		<script type="text/javascript" src="/common/ajax-functions.js"></script>
		<script type="text/javascript" src="/controllers/client/navigationController.client.js"></script>
	</body>

</html>