<!DOCTYPE html>

<html>

	<head>
		
		<title>VoteMe - The site that tells nothing but the truth</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			
		<!--<script src="https://www.w3schools.com/lib/w3.js"></script>-->
		<link rel="import" href="/navigation">
	</head>


	<body id="body-page">
	    
		<div id="poll-container" class="container">
		    <div id="poll-option-submit">
			    <h2></h2>
			    <p></p>
			    <form>
			        <div id="op0"><!--Change with EJS later --></div>
			        
			        <div class="form-group">
			        	<button id="submit-button" class="btn btn-primary">Submit Vote</button>
			        
			        </div>
			    </form>
			  </div>
			  <% if(user.email == poll.user){ %>
				  <div>
				  	<br>
				  	<h3>Do you want to delete this poll?</h3>
				  	<button id="deletePollButton" class="btn btn-danger">Delete Poll</button>
				  	
				  </div>
				 <% }	%>
		</div>
		
		<script type="text/javascript" src="/common/ajax-functions.js"></script>
		<script type="text/javascript" src="/controllers/client/navigationController.client.js"></script>
		<script type="text/javascript" src="/controllers/client/showPollController.client.js"></script>
		
		
	</body>

</html>